body {
   font-family: 'Roboto' sans-serif;
}

.cleft {clear: both;}

p {
  font-size: 20px;
  padding-bottom: 20px;
}

strong {
  font-size: 32px;
}

.navigation {
  height: 200px;
  width: 100%;
  background-color: #999999;
  padding: 15px 0 0 15px;
}

.upper {
  margin-top: -100px;
  position: relative;
}

.searchbox {
  min-height: 150px;
  float: left;
  background-color: white;
  padding: 20px 35px;
  width: 100%;
}

.sb-elements {
  min-width: 230px;
  height: 35px;
  font-size: 13px;
  color: #000;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .sb-elements {
    width: 100%;
  }
}

input {
  width: 100%;
  height: 100%;
  display: inline-block;
  min-width: 230px;
}

.game {
  height: 33px;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  min-width: 230px;
}

@media screen and (max-width: 768px) {
  .game {
    width: 100%;
  }
}

select {
  height: 100%;
  width: 100%;
}

#search {
  width: 100%;
  height: 100%;
  margin: 0;
    min-width: 230px;
}

@media screen and (max-width: 768px) {
  .search {
    width: 100%;
  }
}

ul {
  padding: 0;
}

ul li {
  display: inline;
  text-decoration: none;
  margin-bottom: 15px;
}

.boxy {
  margin-top: 20px;
  background-color: #fff;
}

.rooms, .elements {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around  ;
  width: 100%;
}

.rooms > div {
  width: 32%;
}

@media screen and (max-width: 768px) {
  .rooms > div {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  .rooms > div {
    width: 98%;
  }
}

.elements > div {
  width: 24%;
}

.game-content {
  margin-top: 0;
  background-color: #fff;
}

.text-content {
  padding: 0 15px 10px 15px;
  position: relative;
}

img {
  width:100%;
}

table {
  margin: 10px 10px;
}

td {
  padding-bottom: 10px;
}

.lead-cl {
  min-width: 70px;
  padding-right: 5px;
  text-align: right;
}

.users {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}

.user, .empty-user {
  display: inline-block;
  vertical-align: top;
}

.users:after {
	content: "";
	width: 100%;
	display: inline-block;
    }

.usrimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.empty-user {
  background-color: gray;
  opacity: .4;
  background-size: 50px 50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle-icon {
  position: absolute;
  right: 20px;
  top: -40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  vertical-align: middle;
}

.orange {
    background-color: rgb(255, 87, 34);
}

.green {
  background-color: rgb(76, 175, 80);
}

.fa {
  color: #fff;
  font-size: 20px;
  line-height: 58px;
}

div.tables .searchbox {
  min-height: 80px;
  border-bottom: 1px solid #C3C3C3;
  padding: 0px 35px;
  position: relative;
}

div.tables .searchbox h1 {
  font-size: 20px;
  margin: 0;
  line-height: 80px;
  display: inline-block;
  font-weight: 500;
}

div.tables .searchbox h1 i {
  margin-right: 15px;
  color: #000;
}

div.tables .searchbox button {
  right: 35px;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.tables .content {
  background-color: #fff;
  padding: 50px;
  float: left;
  width: 100%;
}

div.tables .content img {
  display: block;
  float: left;
  max-width: 310px;
}

div.tables .content ul {
  display: inline-block;
  float: left;
  width: auto;
  margin-left: 50px;
  margin-bottom: 0;
}

div.tables .content ul li {
  display: block;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}

div.tables .content ul li span {
  font-weight: normal;
  display: inline-block;
  margin-right: 10px;
}

div.tables .content ul li a i {
  line-height: 20px;
  margin: 0 10px;
  color: #000;
}

div.tables .content h4 {
  margin: 30px 0;
  font-weight: bold;
}

div.tables .content p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}

.btn.btn-fab {
  position: absolute;
  right: 5px;
  top: -30px;
}

.registration {
  min-width: 180px;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-top: 60px;
}

.logout {
  margin-right: 20px;
}

.tablePlayers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.tablePlayers .player { 
  width: 31%; 
  height: 420px; 
  float: left; 
  background-color: #f3f3f3; 
  margin-bottom: 40px;
}

.tablePlayers .player .text { 
  width: 100%; 
  height: auto; 
  float: left;
}

.tablePlayers .player .text img.playerImg { 
  width: 120px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  margin-top: 50px; 
  float: none; 
  border-radius: 25px;
}

.tablePlayers .player .text h4 { 
  width: 100%; 
  text-align: center;
}

.tablePlayers .player .text p { 
  width: 100%; 
  text-align: center;
}

.tablePlayers .player .text .buttons { 
  width: 100%; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  margin: 30px auto 0;
}

.tablePlayers .player .text .buttons a { 
  width: 40%; 
  text-align: center; 
  display: block; 
  padding: 10px 0; 
  border-radius: 5px; 
  color: #fff;
}

.tablePlayers .player .text .buttons a.accept { 
  background-color: green;
}

.tablePlayers .player .text .buttons a.cancel, a.delete { 
  background-color: red;
}
