<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Planszówkomania BrainCode 2016">
    <meta name="description" content="Tinder dla planszówek">

    <title>Planszówkomania</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Material design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>

    <!-- Our scripts and styles -->
    <script src="../js/mainscript.js"></script>

    <link rel="stylesheet" href="../css/maincss.css">

    <!-- Roboto -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>

    <!-- geoplugin -->
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

    <style>

    </style>

  </head>

  <body>

    <div class="navigation navbar">
      <strong>BoardUp</strong>
    </div>

    <div class="container upper">
      <div class="searchbox">
        <p>Wyszukaj grę i zapisz się do rozgrywki</p>

          <ul class="elements">
            <li class="col-lg-3 col-sm-6 sb-elements">
              <select class="game">
                <option value"all" selected>Wszystkie gry</option>
                <option value="Twilight">Twilight Imperium</option>
              </select>
            </li>

          <li class="col-lg-3 col-sm-6 sb-elements ">
            <input placeholder="Określ miasto"></input>
          </li>

          <li class="sb-elements col-lg-3 col-sm-6 ">
            <input placeholder="MM/DD/YYYY"></input>
          </li>

          <li class="sb-elements col-lg-3 col-sm-6 ">
            <button class="btn btn-raised btn-warning" id="search">POKAŻ GRY</button>
          </li>

        </ul>

        </div>

      <div class="rooms">
      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
        <div class="text-content">
          <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
          <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
          <h4>Twilight Imperium</h4>
          <table>
          <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
          <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
          <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
        </table>
        <div class="users">
          <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
          <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
          <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
          <div class="empty-user"></div>
        </div>
        </div>
      </div>
    </div>

      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
          <div class="text-content">
            <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
            <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
            <h4>Twilight Imperium</h4>
            <table>
              <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
              <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
              <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
            </table>
          <div class="users">
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="empty-user"></div>
          </div>
        </div>
      </div>
      </div>

      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
          <div class="text-content">
            <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
            <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
            <h4>Twilight Imperium</h4>
            <table>
              <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
              <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
              <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
            </table>
          <div class="users">
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="empty-user"></div>
          </div>
        </div>
      </div>
      </div>

      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
          <div class="text-content">
            <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
            <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
            <h4>Twilight Imperium</h4>
            <table>
              <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
              <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
              <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
            </table>
          <div class="users">
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="empty-user"></div>
          </div>
        </div>
      </div>
      </div>

      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
          <div class="text-content">
            <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
            <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
            <h4>Twilight Imperium</h4>
            <table>
              <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
              <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
              <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
            </table>
          <div class="users">
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="empty-user"></div>
          </div>
        </div>
      </div>
      </div>

      <div class="boxy  ">
        <div class="game-content">
          <img src="../files/images/twilight.jpg" />
          <div class="text-content">
            <div class="btn btn-warning btn-fab"><i class="fa fa-user-plus"></i></div>
            <div class="btn btn-success btn-fab hidden"><i class="fa fa-check"></i></div>
            <h4>Twilight Imperium</h4>
            <table>
              <tr><td class="lead-cl">Miejsce: </td><td>Bar planszówkowy</td></tr>
              <tr><td class="lead-cl">Termin: </td><td>21.02.2014 g. 17:30</td></tr>
              <tr><td class="lead-cl">Poziom: </td><td>Standardowy / Zaawansowany</td></tr>
            </table>
          <div class="users">
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="user"><img src="../files/images/twilight.jpg" / class="usrimg"></div>
            <div class="empty-user"></div>
          </div>
        </div>
      </div>
      </div>

    </div>

  </div>

  </body>

  <script>

    $.material.init()

  </script>

<html>
