<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Planszówkomania BrainCode 2016">
    <meta name="description" content="Tinder dla planszówek">

    <title>Planszówkomania</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Material design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>

    <!-- Our scripts and styles -->
    <script src="../js/mainscript.js"></script>

    <!-- Roboto -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="../css/maincss.css">

  </head>

  <body>
    <div class="navigation navbar">
      <strong>BoardUp</strong>
    </div>

    <div class="container upper tables">

      <div class="searchbox">
        <h1><a href="#"><i class="fa fa-arrow-left"></i></a>Rozgrywka: Twilight Imperium</h1>
        <a href="#" class="addToTable">Dołącz do gry</a>
        <a href="#" class="addedToTable">Dołączono</a>
      </div>



      <div class="content">
        <img src="../files/images/twilight.jpg">
        <ul>
          <li><span>Miejsce:</span>Bar planszówkowy <a href="#"><i class="fa fa-map-marker"></i>Zobacz na mapie</a></li>
          <li><span>Termin:</span>21.02.2014 g. 17:30</li>
          <li><span>Poziom:</span>Standardowy / Zaawansowany</li>
          <li><span>Agresja:</span>Wysoki poziom</li>
        </ul>

        <div class="cleft"></div>

        <h4>Opis gry</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>

        <h4>Oczekujący na akceptację</h4>

        <div class="tablePlayers">
          
          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
                <button class="btn btn-raised btn-success">Zaakceptuj</button>
              </div>
            </div>
          </div>

          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
                <button class="btn btn-raised btn-success">Zaakceptuj</button>
              </div>
            </div>
          </div>

          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
                <button class="btn btn-raised btn-success">Zaakceptuj</button>
              </div>
            </div>
          </div>

        </div>

        <h4>Zaakceptowani gracze</h4>

        <div class="tablePlayers">
          
          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
              </div>
            </div>
          </div>

          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
              </div>
            </div>
          </div>

          <div class='player'>
            <div class="text">
              <img class="playerImg" src='../files/images/volverine.jpg'></img>
              <h4>@snowogrodzki</h4>
              <p>Master</p>
              <p>Liczba gier: 113</p>
              <p>Poziom: dobry gracz</p>
              <div class="buttons">
                <button class="btn btn-raised btn-warning">Odrzuć</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </body>

  <script>

    $.material.init()

  </script>

<html>
