<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Planszówkomania BrainCode 2016">
    <meta name="description" content="Tinder dla planszówek">

    <title>Planszówkomania</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Material design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>

    <!-- Our scripts and styles -->
    <script src="../js/common.js"></script>
    <script src="../js/mainscript.js"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/tables.js"></script>

    <!-- Roboto -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="../css/maincss.css">

  </head>

  <body>
    <div class="navigation navbar">
      <strong>BoardUp</strong>
    </div>

    <div class="container upper tables">

      <div class="searchbox">
        <h1><a href="index.html"><i class="fa fa-arrow-left"></i></a>Rozgrywka: <span id="gameName"></span></h1>
        <button class="btn btn-raised btn-success" id="join">Dołącz do gry</button>
      </div>



      <div class="content">
        <img src="" id="gameImg">
        <ul>
          <li><span>Miejsce:</span><span id="venue"></span><a href="#"><i class="fa fa-map-marker"></i>Zobacz na mapie</a></li>
          <li><span>Termin:</span><span id="time"></span></li>
          <li><span>Poziom:</span><span id="level"></span></li>
          <li><span>Agresja:</span><span id="aggro"></span></li>
        </ul>

        <div class="cleft"></div>

        <h4>Opis gry</h4>

          <p id="gameDesc"></p>

        <h4>Oczekujący na akceptację</h4>

        <div class="tablePlayers" id="pendingInv">
        </div>

        <h4>Zaakceptowani gracze</h4>

        <div class="tablePlayers" id="acceptedInv">
        </div>

      </div>
    </div>


  </body>

  <script>

    $.material.init()

  </script>

<html>
